@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black");
@import url("https://fonts.googleapis.com/css?family=Handlee|Open+Sans+Condensed:300|Rajdhani|Ruda|Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css?family=Handlee|Open+Sans+Condensed:300|Rajdhani|Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nothing+You+Could+Do&display=swap");
body,
html {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  cursor: default;
}

body {
  overflow-x: hidden;
}

/******** navigation assist *********
                                    
    1 => preload                    
    2 => header   
    3 => section1   

    x => media querys
    x => keyframes & classes  
    x => costume scroll      
                                    
*************************************/
.preload-upg {
  font-family: "Ruda", sans-serif;
}

.preload-txt {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #23e1fa;
}

.Pbtn {
  display: none;
  width: 160px;
  height: 50px;
  background: none;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  border: 1px white solid;
}

.Pbtn:hover {
  background: white;
  color: #263341;
}

.span-line {
  height: 2px;
  width: 250px;
  margin-top: -20px;
  margin-bottom: auto;
  background: #263341;
}

.txt-shadow {
  text-shadow: 3px 2px 6px rgba(0, 0, 0, 0.26);
  margin-top: 50px;
}

#preload-dlt {
  z-index: 50;
  background: #263341;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#preload-dlt p {
  position: absolute;
  left: 3%;
  bottom: 1vh;
  color: white;
  font-size: 10px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  letter-spacing: 0.02em;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  position: fixed;
  top: -500px;
  z-index: 10;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.pop-win {
  width: 50%;
  min-height: 500px;
  background: #263341;
  z-index: 12;
}

.pop-win .close-pop {
  width: 50px;
  height: 50px;
  background: url("imgs/popclose.png") no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.contact-form {
  width: 100%;
  height: 100%;
}

.contact-form input,
.contact-form textarea {
  display: block;
  margin: auto;
  background: none;
  border: none;
  border-bottom: #2da6df 1px solid;
  margin-top: 20px;
  width: 40%;
  outline: none;
  color: white;
  font-size: 17px;
}

.contact-form h1 {
  color: white;
  text-align: center;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
}

.contact-form button {
  display: block;
  margin: auto;
  margin-top: 50px;
  width: 40%;
  cursor: pointer;
  background: linear-gradient(135deg, #348c96 0%, #8859b7 100%);
  border: none;
  border-radius: 10px;
  height: 50px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.compatible {
  font-family: "Segoe UI", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  position: absolute;
  left: 3%;
  top: 5vh;
}

.compatible i:hover {
  color: #23e1fa;
}

.compatible span {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  width: 0;
  margin-top: 10px;
}

.ct4 {
  widows: 90%;
}

.c-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ld-btn {
  width: 160px;
  height: 50px;
  background: none;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  border: 1px white solid;
  display: block;
}

.ld-btn:hover {
  background: white;
  color: #263341;
}

.c-navbar {
  position: fixed;
  z-index: 13;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #284653a8;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 80px;
}

.c-navbar .c-brand {
  color: white;
  font-size: 25px;
  font-weight: 600;
  font-family: "Nothing You Could Do", cursive;
}

.c-navbar .c-nav-ul li {
  text-decoration: none;
  display: inline;
  color: white;
  margin-right: 20px;
  cursor: pointer;
}

.c-navbar .c-nav-ul {
  font-family: "Montserrat", sans-serif;
  width: 40%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.c-navbar .c-nav-ul a {
  color: white;
  text-decoration: none;
}

.github {
  width: 30px;
  height: 30px;
  background: url("imgs/gith.png");
  background-size: contain;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.android {
  background: url("imgs/android.png") no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
  margin: auto;
}

.web {
  background: url("imgs/web.jpg") no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
  margin: auto;
}

.windows {
  background: url("imgs/windows.png") no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
  margin: auto;
}

.chrome {
  background: url("imgs/chrome.png") no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  margin: auto;
}

.navigation {
  position: fixed;
  left: 2%;
  top: 40%;
  font-size: 0px;
  z-index: 5;
}

.navigation div {
  margin-top: 5px;
  width: 5px;
  height: 50px;
  background: #263341af;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  color: rgba(255, 255, 255, 0.829);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.navigation div:hover {
  font-size: 16px;
  font-weight: 600;
  border-right: 2px white solid;
  width: 100px;
}

.navigation div:hover a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: white;
}

.header-left {
  width: 100%;
  min-height: 800px;
  z-index: -1;
  background: url("imgs/head-img.svg") no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position-y: -100px;
}

.header-left .main-row {
  margin-top: -50px;
}

.fit-txt {
  margin-left: 0px;
  margin-right: 100px;
  width: 500px;
}

.fit-txt h2 {
  color: #eeebec;
  margin-bottom: 30px;
}

.fit-txt p {
  color: #0a0a0a;
  font-family: "Montserrat", sans-serif;
}

.fit-txt #head-ps {
  color: #333333;
}

.git-info {
  font-size: 25px;
}

.header-right {
  background: #f2f2f2;
  z-index: -2;
}

.gitinf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 5px;
}

.head-image {
  background: url("imgs/headimg-min.png") no-repeat;
  background-size: contain;
  width: 500px;
  height: 400px;
  -webkit-transition-duration: 0.5;
          transition-duration: 0.5;
  -webkit-transition-property: all;
  transition-property: all;
}

.sec1-bg {
  min-height: 700px;
  background: url("imgs/Group.svg") no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rez-1 {
  width: 90%;
  min-height: 470px;
  border-radius: 20px;
  background: white;
  padding-top: 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: -4px 9px 37px -1px rgba(59, 58, 58, 0.4);
  box-shadow: -4px 9px 37px -1px rgba(68, 68, 68, 0.4);
}

.rez-1:hover {
  background-image: url("imgs/Frame1.svg");
  position: relative;
  -webkit-animation-name: popi;
          animation-name: popi;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  background-size: cover;
  -webkit-box-shadow: -4px 9px 37px -1px rgba(171, 193, 72, 0.884);
  box-shadow: -4px 9px 37px -1px rgba(171, 193, 72, 0.884);
}

.rez-2 {
  width: 90%;
  min-height: 470px;
  border-radius: 20px;
  background: white;
  padding-top: 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: -4px 9px 37px -1px rgba(59, 58, 58, 0.4);
  box-shadow: -4px 9px 37px -1px rgba(68, 68, 68, 0.4);
  position: relative;
  -webkit-transform: translatey(-50px);
          transform: translatey(-50px);
  z-index: 2;
}

.rez-2:hover {
  background-image: url("imgs/Frame3.svg");
  background-size: cover;
  -webkit-box-shadow: -4px 9px 37px -1px rgba(59, 58, 58, 0.699);
  box-shadow: -4px 9px 37px -1px rgba(59, 58, 58, 0.699);
}

.rez-3 {
  width: 90%;
  min-height: 470px;
  border-radius: 20px;
  background: white;
  padding-top: 30px;
  -webkit-box-shadow: -4px 9px 37px -1px rgba(59, 58, 58, 0.4);
  box-shadow: -4px 9px 37px -1px rgba(68, 68, 68, 0.4);
}

.rez-3:hover {
  background-image: url("imgs/Frame2.svg");
  background-size: cover;
  position: relative;
  -webkit-animation-name: popi;
          animation-name: popi;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-box-shadow: -4px 9px 37px -1px rgba(92, 200, 250, 0.726);
  box-shadow: -4px 9px 37px -1px rgba(92, 200, 250, 0.726);
}

.andr {
  font-size: 80px;
  color: #7fc93a;
}

.win {
  font-size: 80px;
  color: #2da6df;
}

.web {
  font-size: 80px;
  color: #505050;
}

.ct2 {
  width: 80%;
  margin: auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #888484;
}

.ct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secrow {
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seczzz {
  width: 100px;
}

.ct5 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec2-bg {
  background: url("imgs/sec2bg.svg") no-repeat;
  background-size: cover;
  background-position: right;
  width: 100%;
  min-height: 800px;
  padding-bottom: 200px;
}

.sec2-pj {
  width: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec2-pjb {
  background: white;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  width: 300px;
  min-height: 350px;
  text-align: center;
  color: rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: -4px 9px 37px -1px rgba(59, 58, 58, 0.4);
  box-shadow: -4px 9px 37px -1px rgba(68, 68, 68, 0.4);
  cursor: pointer;
}

.sec2-pjb:hover {
  background: #f0f0f0;
}

.sec2-pjb:hover div {
  height: 100px;
}

.screen-shot1 {
  background: url("imgs/p-1.svg") no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 150px;
  width: 100%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.screen-shot2 {
  background: url("imgs/p2-min.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 150px;
  width: 100%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -o-object-fit: contain;
     object-fit: contain;
}

.screen-shot3 {
  background: url("imgs/p3-min.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 150px;
  width: 100%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -o-object-fit: contain;
     object-fit: contain;
}

.screen-shot4 {
  background: url("imgs/form-validation-min.png") no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 150px;
  width: 100%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -o-object-fit: contain;
     object-fit: contain;
}

.screen-shot5 {
  background: url("imgs/Mdesigne-min.png") no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 150px;
  width: 100%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -o-object-fit: contain;
     object-fit: contain;
}

.foot-er {
  height: 100px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  background: #4e4e4e;
  background-size: cover;
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
}

.foot-er .pwerd {
  font-size: 10px;
  text-align: center;
}

.opaciti-go {
  opacity: 0;
}

.tracking-in-expand {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: lighter;
  letter-spacing: 0.2em;
  color: white;
  -webkit-animation: tracking-in-expand 1s infinite alternate both;
  animation: tracking-in-expand 1s infinite alternate both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.slide-in-right {
  display: block;
  -webkit-animation: slide-in-right 0.8s both;
  animation: slide-in-right 0.8s both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes popi {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
}

@keyframes popi {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
}

@-webkit-keyframes popi2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

@keyframes popi2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
  animation: slide-in-left 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-bottom {
  -webkit-animation: slide-bottom 1s 1s both;
  animation: slide-bottom 1s 1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-8-13 23:55:25
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.text-pop-up-top {
  -webkit-animation: text-pop-up-top 2s linear infinite alternate both;
  animation: text-pop-up-top 2s linear infinite alternate both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-8-9 13:25:12
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

@font-face {
  font-family: "Archivo Black";
  font-style: normal;
  font-weight: 400;
  src: local("Archivo Black Regular"), local("ArchivoBlack-Regular"), url("https://fonts.gstatic.com/s/archivoblack/v9/HTxqL289NzCGg4MzN6KJ7eW6CYyF-w.ttf") format("truetype");
}

.glitch {
  color: #f8f8f8;
  font-size: 50px;
  margin-bottom: 30px;
  font-weight: 500;
  text-transform: upercase;
  position: relative;
  display: inline-block;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glitch::before {
  left: 2px;
  text-shadow: -2px 0 #49fc00;
  clip: rect(24px, 550px, 90px, 0);
  animation: glitch-anim-2 6s infinite linear alternate-reverse;
}

.glitch::after {
  left: -2px;
  text-shadow: -2px 0 #b300fc;
  clip: rect(85px, 550px, 140px, 0);
  animation: glitch-anim 6s infinite linear alternate-reverse;
}

@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(38px, 9999px, 111px, 0);
  }
  4.166666666666666% {
    clip: rect(98px, 9999px, 125px, 0);
  }
  8.333333333333332% {
    clip: rect(124px, 9999px, 147px, 0);
  }
  12.5% {
    clip: rect(135px, 9999px, 74px, 0);
  }
  16.666666666666664% {
    clip: rect(49px, 9999px, 5px, 0);
  }
  20.833333333333336% {
    clip: rect(140px, 9999px, 30px, 0);
  }
  25% {
    clip: rect(31px, 9999px, 19px, 0);
  }
  29.166666666666668% {
    clip: rect(37px, 9999px, 30px, 0);
  }
  33.33333333333333% {
    clip: rect(93px, 9999px, 82px, 0);
  }
  37.5% {
    clip: rect(11px, 9999px, 0px, 0);
  }
  41.66666666666667% {
    clip: rect(37px, 9999px, 43px, 0);
  }
  45.83333333333333% {
    clip: rect(64px, 9999px, 54px, 0);
  }
  50% {
    clip: rect(108px, 9999px, 49px, 0);
  }
  54.166666666666664% {
    clip: rect(44px, 9999px, 105px, 0);
  }
  58.333333333333336% {
    clip: rect(149px, 9999px, 56px, 0);
  }
  62.5% {
    clip: rect(146px, 9999px, 103px, 0);
  }
  66.66666666666666% {
    clip: rect(103px, 9999px, 54px, 0);
  }
  70.83333333333334% {
    clip: rect(59px, 9999px, 54px, 0);
  }
  75% {
    clip: rect(59px, 9999px, 117px, 0);
  }
  79.16666666666666% {
    clip: rect(97px, 9999px, 48px, 0);
  }
  83.33333333333334% {
    clip: rect(8px, 9999px, 51px, 0);
  }
  87.5% {
    clip: rect(82px, 9999px, 33px, 0);
  }
  91.66666666666666% {
    clip: rect(105px, 9999px, 43px, 0);
  }
  95.83333333333334% {
    clip: rect(144px, 9999px, 17px, 0);
  }
  100% {
    clip: rect(111px, 9999px, 142px, 0);
  }
}

@keyframes glitch-anim {
  0% {
    clip: rect(38px, 9999px, 111px, 0);
  }
  4.166666666666666% {
    clip: rect(98px, 9999px, 125px, 0);
  }
  8.333333333333332% {
    clip: rect(124px, 9999px, 147px, 0);
  }
  12.5% {
    clip: rect(135px, 9999px, 74px, 0);
  }
  16.666666666666664% {
    clip: rect(49px, 9999px, 5px, 0);
  }
  20.833333333333336% {
    clip: rect(140px, 9999px, 30px, 0);
  }
  25% {
    clip: rect(31px, 9999px, 19px, 0);
  }
  29.166666666666668% {
    clip: rect(37px, 9999px, 30px, 0);
  }
  33.33333333333333% {
    clip: rect(93px, 9999px, 82px, 0);
  }
  37.5% {
    clip: rect(11px, 9999px, 0px, 0);
  }
  41.66666666666667% {
    clip: rect(37px, 9999px, 43px, 0);
  }
  45.83333333333333% {
    clip: rect(64px, 9999px, 54px, 0);
  }
  50% {
    clip: rect(108px, 9999px, 49px, 0);
  }
  54.166666666666664% {
    clip: rect(44px, 9999px, 105px, 0);
  }
  58.333333333333336% {
    clip: rect(149px, 9999px, 56px, 0);
  }
  62.5% {
    clip: rect(146px, 9999px, 103px, 0);
  }
  66.66666666666666% {
    clip: rect(103px, 9999px, 54px, 0);
  }
  70.83333333333334% {
    clip: rect(59px, 9999px, 54px, 0);
  }
  75% {
    clip: rect(59px, 9999px, 117px, 0);
  }
  79.16666666666666% {
    clip: rect(97px, 9999px, 48px, 0);
  }
  83.33333333333334% {
    clip: rect(8px, 9999px, 51px, 0);
  }
  87.5% {
    clip: rect(82px, 9999px, 33px, 0);
  }
  91.66666666666666% {
    clip: rect(105px, 9999px, 43px, 0);
  }
  95.83333333333334% {
    clip: rect(144px, 9999px, 17px, 0);
  }
  100% {
    clip: rect(111px, 9999px, 142px, 0);
  }
}

@-webkit-keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(78px, 9999px, 101px, 0);
  }
  10% {
    clip: rect(13px, 9999px, 80px, 0);
  }
  13.333333333333334% {
    clip: rect(132px, 9999px, 66px, 0);
  }
  16.666666666666664% {
    clip: rect(145px, 9999px, 90px, 0);
  }
  20% {
    clip: rect(108px, 9999px, 42px, 0);
  }
  23.333333333333332% {
    clip: rect(18px, 9999px, 24px, 0);
  }
  26.666666666666668% {
    clip: rect(143px, 9999px, 116px, 0);
  }
  30% {
    clip: rect(128px, 9999px, 6px, 0);
  }
  33.33333333333333% {
    clip: rect(77px, 9999px, 136px, 0);
  }
  36.666666666666664% {
    clip: rect(141px, 9999px, 92px, 0);
  }
  40% {
    clip: rect(128px, 9999px, 43px, 0);
  }
  43.333333333333336% {
    clip: rect(89px, 9999px, 59px, 0);
  }
  46.666666666666664% {
    clip: rect(17px, 9999px, 66px, 0);
  }
  50% {
    clip: rect(52px, 9999px, 60px, 0);
  }
  53.333333333333336% {
    clip: rect(109px, 9999px, 60px, 0);
  }
  56.666666666666664% {
    clip: rect(71px, 9999px, 61px, 0);
  }
  60% {
    clip: rect(50px, 9999px, 124px, 0);
  }
  63.33333333333333% {
    clip: rect(119px, 9999px, 78px, 0);
  }
  66.66666666666666% {
    clip: rect(96px, 9999px, 139px, 0);
  }
  70% {
    clip: rect(86px, 9999px, 3px, 0);
  }
  73.33333333333333% {
    clip: rect(53px, 9999px, 13px, 0);
  }
  76.66666666666667% {
    clip: rect(24px, 9999px, 95px, 0);
  }
  80% {
    clip: rect(10px, 9999px, 1px, 0);
  }
  83.33333333333334% {
    clip: rect(86px, 9999px, 100px, 0);
  }
  86.66666666666667% {
    clip: rect(48px, 9999px, 44px, 0);
  }
  90% {
    clip: rect(117px, 9999px, 79px, 0);
  }
  93.33333333333333% {
    clip: rect(121px, 9999px, 75px, 0);
  }
  96.66666666666667% {
    clip: rect(3px, 9999px, 135px, 0);
  }
  100% {
    clip: rect(13px, 9999px, 60px, 0);
  }
}

@keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(78px, 9999px, 101px, 0);
  }
  10% {
    clip: rect(13px, 9999px, 80px, 0);
  }
  13.333333333333334% {
    clip: rect(132px, 9999px, 66px, 0);
  }
  16.666666666666664% {
    clip: rect(145px, 9999px, 90px, 0);
  }
  20% {
    clip: rect(108px, 9999px, 42px, 0);
  }
  23.333333333333332% {
    clip: rect(18px, 9999px, 24px, 0);
  }
  26.666666666666668% {
    clip: rect(143px, 9999px, 116px, 0);
  }
  30% {
    clip: rect(128px, 9999px, 6px, 0);
  }
  33.33333333333333% {
    clip: rect(77px, 9999px, 136px, 0);
  }
  36.666666666666664% {
    clip: rect(141px, 9999px, 92px, 0);
  }
  40% {
    clip: rect(128px, 9999px, 43px, 0);
  }
  43.333333333333336% {
    clip: rect(89px, 9999px, 59px, 0);
  }
  46.666666666666664% {
    clip: rect(17px, 9999px, 66px, 0);
  }
  50% {
    clip: rect(52px, 9999px, 60px, 0);
  }
  53.333333333333336% {
    clip: rect(109px, 9999px, 60px, 0);
  }
  56.666666666666664% {
    clip: rect(71px, 9999px, 61px, 0);
  }
  60% {
    clip: rect(50px, 9999px, 124px, 0);
  }
  63.33333333333333% {
    clip: rect(119px, 9999px, 78px, 0);
  }
  66.66666666666666% {
    clip: rect(96px, 9999px, 139px, 0);
  }
  70% {
    clip: rect(86px, 9999px, 3px, 0);
  }
  73.33333333333333% {
    clip: rect(53px, 9999px, 13px, 0);
  }
  76.66666666666667% {
    clip: rect(24px, 9999px, 95px, 0);
  }
  80% {
    clip: rect(10px, 9999px, 1px, 0);
  }
  83.33333333333334% {
    clip: rect(86px, 9999px, 100px, 0);
  }
  86.66666666666667% {
    clip: rect(48px, 9999px, 44px, 0);
  }
  90% {
    clip: rect(117px, 9999px, 79px, 0);
  }
  93.33333333333333% {
    clip: rect(121px, 9999px, 75px, 0);
  }
  96.66666666666667% {
    clip: rect(3px, 9999px, 135px, 0);
  }
  100% {
    clip: rect(13px, 9999px, 60px, 0);
  }
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bdbdbd7c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #313131;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 1250px) {
  .gitinf {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .fit-txt {
    text-align: center;
    margin-right: 0;
  }
  .preload-upg {
    margin-right: 20px;
  }
  .rez-1 {
    width: 280px;
  }
  .rez-2 {
    width: 280px;
  }
  .rez-3 {
    width: 280px;
  }
}

@media only screen and (max-width: 768px) {
  .fit-txt {
    text-align: center;
  }
  .header-left {
    padding-top: 250px;
  }
  .ct5 {
    width: 80%;
  }
  .rez-2 {
    -webkit-transform: translatey(0);
            transform: translatey(0);
  }
  .rez-2:hover {
    position: relative;
    -webkit-animation-name: popi;
            animation-name: popi;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}

@media only screen and (max-width: 576px) {
  .head-image {
    display: none;
  }
  .ct5 {
    width: 90%;
  }
  .pop-win {
    width: 80%;
  }
  .contact-form input,
  .contact-form textarea,
  .contact-form button {
    width: 80%;
  }
  .contact-form h1 {
    font-size: 30px;
    width: 80%;
    margin: auto;
  }
  .header-left {
    padding-top: 0;
  }
  .fit-txt {
    width: 90%;
  }
  .rez-1,
  .rez-2,
  .rez-3 {
    width: 70%;
  }
  .sec2-pjb {
    width: 105px;
  }
  .c-brand {
    display: none;
  }
  .c-navbar,
  .c-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 400px) {
  .rez-1,
  .rez-2,
  .rez-3 {
    width: 90%;
  }
  .main-row {
    margin-top: -50px;
  }
}

@media only screen and (max-width: 350px) {
  body {
    width: 350px;
  }
}

@media only screen and (min-width: 1500px) {
  .c-container {
    width: 1500px;
  }
  .pop-win {
    width: 650px;
  }
  .c-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=style.css.map */